<a href="#" class="blockTableEvent" id="{{ id_prefix }}Button{{ person_id }}">
    <span class="
        glyphicon
        glyphicon-arrow
        glyphicon-arrow-{{ id_prefix }}
        {% if id_prefix == 'left' %}
            grayText
        {% elif id_prefix == 'right' %}
            greenText
        {% endif %}" aria-hidden="true" />
</a>
<script>
    $(function() {
        $('#{{ id_prefix }}Button{{ person_id }}').popover({
            content: '{% for state in states %}' +
                '<p class="blockTableEvent" id="{{ id_prefix }}state_link_{{ person_id }}_{{ state.pk }}">' +
                '{{ state | safe }}</p>{% endfor %}',
            placement: '{{ placement }}',
            html: true
        });
        {% for state in states %}
            $(document).off(
                    'click',
                    '#{{ id_prefix }}state_link_{{ person_id }}_{{ state.pk }}'
            );
            $(document).on(
                    'click',
                    '#{{ id_prefix }}state_link_{{ person_id }}_{{ state.pk }}',
                    function() {
                        $.post('/candidate/change_state/',
                            {
                                'person_id': '{{ person_id }}',
                                'new_state_id': '{{ state.pk }}'
                            },
                            function() {
                                reloadData();
                            }
                        );
                    }
            );
        {% endfor %}
    });
</script>
