<a href="#" class="blockTableEvent" id="{{ id_prefix }}Button{{ person_id }}">
    <span class="
        glyphicon
        glyphicon-arrow
        glyphicon-arrow-{{ id_prefix }}
        {% if id_prefix == 'left' %}
            grayText
        {% elif id_prefix == 'right' %}
            greenText
        {% endif %}" aria-hidden="true" />
</a>
<script>
    $(function() {
        $('#{{ id_prefix }}Button{{ person_id }}').popover({
            content: '{% for state_id, state_view in states.items %}' +
                '<p id="{{ id_prefix }}state_link_{{ person_id }}_{{ state_id }}">' +
                '{{ state_view | safe }}</p>{% endfor %}',
            placement: '{{ placement }}',
            html: true
        });
        {% for state_id, state_view in states.items %}
            $(document).off(
                    'click',
                    '#{{ id_prefix }}state_link_{{ person_id }}_{{ state_id }}'
            );
            $(document).on(
                    'click',
                    '#{{ id_prefix }}state_link_{{ person_id }}_{{ state_id }}',
                    function() {
                        $.post('/candidate/change_state/',
                            {
                                'person_id': '{{ person_id }}',
                                'new_state_id': '{{ state_id }}'
                            },
                            function() {
                                reloadData();
                            }
                        );
                        e.preventDefault();
                    }
            );
        {% endfor %}
    });
</script>
