body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#maintable{
    cursor: pointer;
    table-layout:fixed;
}

.td-with-bottom-bar{
   background-image: url("/static/img/table_bottom_bar.png");
   background-position: bottom;
   background-repeat: repeat-x;
}

.td-with-bottom-bar-upsidedown{
   background-image: url("/static/img/table_bottom_bar_upsidedown.png");
   background-position: bottom;
   background-repeat: repeat-x;
}

.innertd{
    height: 25px;
    overflow: hidden;
}

.maintable-row-large td{
    background-color: #EAEAEA !important;
}

.maintable-row-large td .innertd, .large-inner-div{
    height: auto;
}


.statcss {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.red-text{
    color: #F00;
    font-weight: normal;
}

.dz-default, .dz-preview{
    display: none !important;
}

