/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('./static/fonts/s-BiyweUPV0v-yRb-cjciCEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('./static/fonts/EFpQQyG9GqCrobXxL-KRMTvw3iLehEZ8Hqbhfrhp4xo.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #F8F8F8;
}

a {
    color: #333;
}

a:focus, a:hover{
    text-decoration: none;
}

input[type=text], textarea {
    border: 0;
    background-color: #FCFCFC;
    padding: 4px;
    margin-bottom: 7px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#top-navbar a{
    padding-top: 17px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
}

#maintable{
    cursor: pointer;
    table-layout:fixed;
    background-color: #FFF;
    border: 0;
}

#logo-container{
    height: 50px;
    overflow: visible;
    position: relative;
    width: 290px;
}

#maintable th{
    border-bottom-width: 1px;
}

.innertd{
    height: 25px;
    overflow: hidden;
}

.maintable-row-large td{
    background-color: #EAEAEA !important;
}

.maintable-row-large td .innertd, .large-inner-div{
    height: auto;
}


.statcss {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.dz-default, .dz-preview{
    display: none !important;
}

.caveatsArea{
    resize: none;
    width: 95%;
    height: 0;
    position: relative;
}

#chartContainer{
    height: 600px;
    width: 100%;
}

.stateCheckboxDiv{
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 10px;
}

.lessPaddingTd{
    padding-bottom: 0px !important;
}

.source-icon{
    margin-right: 4px;
    border-radius: 1px;
}

.source-icon:hover{
    position: relative;
    top: -2px;
}

.icon-hidden{
    opacity: 0.3;
}

.icon-hidden:hover{
    top: -1px !important;
}

.fixed-table-body{
    height: auto !important;
}

#my-awesome-dropzone{
    margin-bottom: 3px;
}

.edit-pencil{
    font-size: 12px;
    color: #93b1ff;
    margin-left: 8px;
    position: relative;
    top: -1px;
    display: none;
}

.edit-ok{
    font-size: 14px;
    color: #00b82b;
    margin-left: 4px;
    position: relative;
    top: -1px;
}

.edit-ok:hover{
    color: #0F0;
}

.edit-remove{
    font-size: 14px;
    color: #9a0000;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.edit-remove:hover{
    color: #F00;
}

.edit-pencil:hover {
    color: #2250c6;
}

.changeNameInput{
    width: 130px;
}

.changeNameOkButton{
    margin-left: 5px;
    top: -1px;
    position: relative;
}

.redText{
    color: #F00000;
}

.greenText{
    color: #33CC00;
}

.grayText{
    color: #999;
}

.glyphicon-arrow{
    position: relative;
    top: 2px;
}

.stateArrowBox{
    margin-left: 6px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.imageDiv{
    margin: auto;
}

tr > td > div.imageDiv > img{
    width: 25px;
    height: 25px;
}

td {
    overflow: hidden;
    white-space: nowrap;
}

.maintable-row-large > td{
    white-space: normal !important;
    word-wrap: break-word !important;
}

.oldStateContainer{
    display: none;
}

.maintable-row-large > td > div.oldStateContainer{
    display: inline !important ;
}

.maintable-row-large > td > div.imageDiv > img{
    width: 50px;
    height: 50px;
}

.removePersonButton{
    position: absolute;
    right: -25px;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 6px;
    opacity: 0;
    color: #000;
}

tr.maintable-row-large > td > span > a > div.removePersonButton{
    opacity: 0.3;
}

.removePersonButton:hover{
    opacity: 0.6 !important;
}

.contactIcons{
    padding-top: 2px;
}

.oldStateName{
    color: #333;
    font-size: 12px;
}

.oldStateDate{
    color: #AAA;
    font-size: 10px;
}

.dropdown-menu a{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.chartIcon{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.statsName{
    font-size: 38px;
    padding-bottom: 10px;
}

#top-tooltip{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

#top-tooltip-left{
    width: 50%;
    float: left;
}

#top-tooltip-right{
    width: 50%;
    float: right;
}

.top-tooltip-inner-left{
    float: left;
}

.top-tooltip-inner-right{
    float: right;
}

.notification-icon{
    position: absolute;
    left: -30px;
    padding-top: 5px;
}

.notification-icon-span{
    color: #F00;
}

.notification-icon .popover-title{
    display: none;
}

.notification-icon .popover-content {
    color: #F00;
    font-size: 12px;
}

.breadcrumb{
    margin-top: 20px;
    background: none;
}

.actions {
    margin-bottom: 10px;
}

#result_list{
    background-color: #FFF;
}

.heading {
    padding-top: 25px;
}

.conflict-imgs img {
    width: 90%;
    height: auto;
    text-align: center;
}

.conflict-imgs img.checked{
    border-style: solid;
    border-width: 7px;
    -moz-border-image: url(../img/border3.jpeg) 12 round;
    -webkit-border-image: url(../img/border3.jpeg) 12 round;
    -o-border-image: url(../img/border3.jpeg) 12 round;
    border-image: url(../img/border3.jpeg) 12 round;
}

.row.conflict ul {
    text-align: center;
}

.row.conflict li {
    width: 49%;
}

.url-link img {
    height: 40px;
    width: auto;
    padding-bottom: 10px;
}

#validation-errs p {
    color: #F00;
}

.highlight {
    border: 1px solid #F00 !important;
}