body {
    padding-top: 50px;
    background-color: #F8F8F8;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#top-navbar{
    height: 55px;
}

#top-navbar a{
    height: 55px;
    padding-top: 17px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
}

#maintable{
    cursor: pointer;
    table-layout:fixed;
    background-color: #FFF;
    border: 0;
}

#maintable th{
    border-bottom-width: 1px;
}

.td-with-bottom-bar{
   background-image: url("/static/img/table_bottom_bar.png");
   background-position: bottom;
   background-repeat: repeat-x;
}

.td-with-bottom-bar-upsidedown{
   background-image: url("/static/img/table_bottom_bar_upsidedown.png");
   background-position: bottom;
   background-repeat: repeat-x;
}

.innertd{
    height: 25px;
    overflow: hidden;
}

.maintable-row-large td{
    background-color: #EAEAEA !important;
}

.maintable-row-large td .innertd, .large-inner-div{
    height: auto;
}


.statcss {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.red-text{
    color: #F00;
    font-weight: normal;
}

.dz-default, .dz-preview{
    display: none !important;
}

.caveatsArea{
    resize: none;
    border: 0;
    width: 160px;
}

.stateCheckboxDiv{
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 10px;
}
