{% load staticfiles %}
<div id="conflicts_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Conflict found: <strong id="conflict_modal_name">Name TODO</strong></h4>
            </div>
            <input type="hidden" id="id0" value="">
            <input type="hidden" id="id1" value="">
            <div>
                Possible conflict has been found
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button id="conflicts_modal_dont_merge" type="button" class="btn btn-warning">Don't merge</button>
                <button id="conflicts_modal_merge" type="button" class="btn btn-primary">Merge</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
