{% load staticfiles %}
<div class="navbar navbar-inverse navbar-fixed-top" id="top-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <img src="{% static "img/logo.png" %}">
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="homeli"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-list-alt"></span> Data sheet</a></li>
                <li class="statsli"><a href="{% url 'stats' %}"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
            </ul>
            <script>
                if(window.location.pathname.substring(1).indexOf("stat") == -1)
                {
                    $(".homeli").addClass('active');
                }
                else
                {
                    $(".statsli").addClass('active');
                }
            </script>
        </div><!--/.nav-collapse -->
    </div>
</div>