{% load staticfiles %}
<div class="navbar navbar-inverse navbar-fixed-top" id="top-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <img src="{% static "img/logo.png" %}">
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Data sheet</a></li>
                <li><a href="{% url 'stats' %}">Statistics</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>