{% load staticfiles %}
<!-- COMMON INCLUDES FOR POWER RECRUITER AND ADMIN -->

<!-- JQUERY -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>

<!-- OTHER JAVASCRIPT -->
<script type="text/javascript" src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap_table/bootstrap-table.js' %}"></script>

<script type="text/javascript" src="{% static 'js/menuActive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/globalFunctions.js' %}"></script>
<script type="text/javascript" src="{% static 'autosize/jquery.autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap_dropdowns_enhancement-master/dist/js/dropdowns-enhancement.js' %}"></script>

<!-- CSS -->
<link href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'css/style.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'bootstrap_table/bootstrap-table.css' %}" media="screen" rel="stylesheet">
<link href="{% static 'bootstrap_dropdowns_enhancement-master/dist/css/dropdowns-enhancement.css' %}" media="screen" rel="stylesheet">
