{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}
<table id="maintable" data-toggle="table" data-url="{% url 'json' %}" data-cache="false" data-sort-name="price" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="candidate_name" data-sortable="true">Name</th>
            <th data-field="source" data-sortable="true">Source</th>
            <th data-field="attachments" data-formatter="attachmentsList">Attachments</th>
        </tr>
    </thead>
</table>
<script type="text/javascript" src="{% static "js/maintable.js" %}"></script>
{% endblock %}