{% extends "base_generic.html" %}
{% load staticfiles %}

{% block otherHeaders %}
<link href="{% static 'dropzone/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'dropzone/dropzone.js' %}"></script>
{% endblock %}

{% block content %}

{% for k, v in states.iteritems %}
    <div class="stateCheckboxDiv">
        <input type="checkbox" class="stateCheckbox" name="{{ k }}" checked />{{ v }}
    </div>
{% endfor %}

<table id="maintable" data-toggle="table" data-url="{% url 'json' %}" data-cache="false" data-sort-name="price" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true" class="col-md-1">ID</th>
            <th data-field="candidate_name" data-sortable="true" data-align="left" >Name</th>
            <th data-field="source" data-sortable="true" data-formatter="stateFormatter" class="col-md-1">Source</th>
            <th data-field="state" data-sortable="true">State</th>
            <th data-field="attachments" data-formatter="attachmentsListFormatter">Attachments</th>
            <th data-field="caveats" data-formatter="caveatsFormatter" data-cell-style="caveatsTdStyle">Caveats</th>
        </tr>
    </thead>
</table>

{% include "js/maintable.html" %}

{% endblock %}
