<script>
    function get_conflicts() {
        $.get(
                '/candidate/get_conflicts/',
                function (data) {
                    if (data[0].length > 0) {
                        var name = data[0][0]['candidate_name']['candidate_name']
                        var id0 = data[0][0]['id']['id']
                        var id1 = data[0][1]['id']['id']
                        show_conflicts_modal(name);
                        put_ids_modal(id0, id1);
                    }
                }
        );
    }

    function show_conflicts_modal(data) {
        var $conflicts_modal = $('#conflicts_modal');
        $conflicts_modal.find('.modal-body').text(data);
        $conflicts_modal.modal('show');
    }

    function put_ids_modal(id0, id1) {
        $('#id0').val(id0);
        $('#id1').val(id1);
    }

    function merge(person_ids) {
        resolve_conflicts(person_ids, true);
    }

    function dont_merge(person_ids) {
        resolve_conflicts(person_ids, false);
    }

    function resolve_conflicts(person_ids, merge) {
        $.post(
                '/candidate/resolve_conflicts/',
                {
                    'person_ids': JSON.stringify(person_ids),
                    'merge': merge
                },
                function() {$('#conflicts_modal').modal('toggle'); get_conflicts();}
        );
    }

    function get_person_ids_from_conflicts_modal() {
        return [$('#id0').val(), $('#id1').val()]
    }

    $('#conflicts_modal_merge').on('click', function (e) {
        var person_ids = get_person_ids_from_conflicts_modal();
        resolve_conflicts(person_ids, true);
    });

    $('#conflicts_modal_dont_merge').on('click', function (e) {
        var person_ids = get_person_ids_from_conflicts_modal();
        resolve_conflicts(person_ids, false);
    });

    get_conflicts();
</script>
