<script>
    $('#conflicts_modal').on('hidden.bs.modal', function (e) {
        get_conflicts();
    });

    function get_conflicts() {
        $.get(
                '/candidate/get_conflicts/',
                function (data) {
                    if (data[0].length > 0) {
                        var name = data[0][0]['candidate_name']['candidate_name'];
                        var img0 = data[0][0]['photo']['photo'];
                        var img1 = data[0][1]['photo']['photo'];
                        var state0 = data[0][0]['state']['state_name'];
                        var state1 = data[0][1]['state']['state_name']
                        var id0 = data[0][0]['id']['id'];
                        var id1 = data[0][1]['id']['id'];
                        show_conflicts_modal(name, img0, img1, state0, state1);
                        put_ids_modal(id0, id1);
                    }
                }
        );
    }

    function show_conflicts_modal(name, img0, img1, state0, state1) {
        var $conflicts_modal = $('#conflicts_modal');
        $('#conflict_modal_name').text(name);
        $('#img0').attr('src', img0);
        $('#img1').attr('src', img1);
        $('#status0 a').text(state0);
        $('#status1 a').text(state1);
        console.log(state0);
        $conflicts_modal.modal('show');
    }

    function put_ids_modal(id0, id1) {
        $('#id0').val(id0);
        $('#id1').val(id1);
    }

    function merge(person_ids) {
        resolve_conflicts(person_ids, true);
    }

    function dont_merge(person_ids) {
        resolve_conflicts(person_ids, false);
    }

    function resolve_conflicts(merge) {
        var person_ids = get_person_ids_from_conflicts_modal();
        var person_img = get_person_image_from_conflicts_modal()
        $.post(
                '/candidate/resolve_conflicts/',
                {
                    'person_ids': JSON.stringify(person_ids),
                    'person_img': JSON.stringify(person_img),
                    'merge': merge
                },
                function() { $('#conflicts_modal').modal('hide'); reloadData(); }
        );
    }

    function get_person_ids_from_conflicts_modal() {
        return [$('#id0').val(), $('#id1').val()]
    }

    function get_person_image_from_conflicts_modal() {
        return $('#checked-img').val();
    }

    $('#conflicts_modal_merge').on('click', function (e) {
        resolve_conflicts(true);
    });

    $('#conflicts_modal_dont_merge').on('click', function (e) {
        resolve_conflicts(false);
    });

    get_conflicts();
</script>
