{% load staticfiles %}
<script>
    attachmentsListFormatter = function (value) {
        return attachmentsListFormatterWithoutCSRF(value, "{% url "upload" %}", "{% csrf_token %}");
    }

    Dropzone.options.myAwesomeDropzone = {
        init: function() {
            this.on("addedfile", function(file) { window.setTimeout(reloadData, 1000); });
        }
    };

    function caveatsTdStyle(row, index){
        return {
                classes: 'lessPaddingTd'
            };
    }

</script>
